.user{
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.user__content{
    padding: 1em 2em 1em 2em;
}

.user__content .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__content .table{
    margin-top: 3em;
    margin-bottom: 5em;
}